#top {
    background-color: #366092;
    color: white;
    margin: 0;
    padding: 10px 0;
}

#top>* {
    padding: 0;
    margin: 0;
}

#campoCabecalho {
    margin: 2.5rem 0;
}

.comportamentos label {
    padding: 0.2rem 0;
    width: 100%;
}

.inputCheck {
    width: 100%;
    display: inline-block;
}

.inputCheck label {
    width: 100%;
}

@media (max-width: 768px) {
    #campoCabecalho {
        margin: 0;
        padding: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    #campoCabecalho>* {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.hide {
    display: none;
}
